<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 RokanThemes.com. All rights reserved.

 * @author RokanThemes Team <contact@rokanthemes.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Rokanthemes_Productvideo::productvideo" title="Product Videos" sortOrder="20">
                        <resource id="Rokanthemes_Productvideo::productvideo_video" title="Video Manager" sortOrder="10" />
                        <resource id="Rokanthemes_Productvideo::productvideo_productvideo" title="Product Manager" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config"> 
                            <resource id="Rokanthemes_Productvideo::productvideo_configuration" title="Configuration Productvideo" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
